<div class="col-md-5 mx-auto mt-3">
  <h1 class="display-5">TASK 3 - Find unique id and value</h1>
  <label for="array">Array</label>
  <input type="text" class="form-control mt-3" id="array" [(ngModel)]="arrayString"
    placeholder='eg. [{"id":1, "value":3}, {"id":2, "value":7}, {"id":3, "value":3}, {"id":4, "value":1}, {"id":5, "value":4}]'>
  <label class="text-muted mt-3">Or change the object properties value inside the code and submit (or submit an empty form to use the default values from the question posed)</label>
  <button type="submit" class="btn btn-primary w-100 mt-3" (click)="findUniqueIdAndValue()">Get unique id and value</button>

  <p class="mt-3">{{value | json}}</p>
</div>
